html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 900px;
    background: #00000070;
    border-radius: 10px;
}

